@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&family=Poiret+One&family=Roboto+Flex:opsz,wght@8..144,300&family=Water+Brush&display=swap');

:root{
    --primary-color: #3aafa9;
    --primary-variant: #2b7a78;
    --secondary-color: #def2f1;
    --on-primary: #feffff;
    --on-background: rgb(66, 66, 66);
    --on-background-alt: rgba(66, 66, 66, 0.5);
    --background: #17252a;
    --box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

*{
    margin: 0;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Flex', sans-serif;
    overflow-x: hidden;
    background-color: whitesmoke;
    
}

ul{
    padding-inline-start: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--on-background);
    transition: all 300ms ease-in;
}

a:hover{
    color: var(--primary-color);
}

.header{
    height: 5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

.logo{
    margin: 0 2em;
    text-align: center;
    font-family: 'Miss Fajardose', cursive;
    font-size: 1.5em;
    font-weight: lighter;    
}

.logo h2 a{
    color: var(--primary-color);
}

.mobile-nav-toggle{
    display: none;
}

.navbar{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.nav-links ul{
    display: flex;
    justify-content: space-between;
}

.nav-links ul li{
    font-size: 1.25em;
    margin-inline-end: 2em;
}

.social-links{
    display: flex;
    justify-content: space-between;
}

.social-links img{
    width: 1.5em;
    margin: 0 0.7em;
    filter: grayscale(100%);
}

.social-links img:hover{
    filter: grayscale(0);
}



.banner{
    height: 96vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.banner-content h1 span{
    color: var(--primary-color);
    font-family: 'Poiret One', cursive;
}

.banner-content h3{
 color: var(--on-background);   
 margin-bottom: 3rem ;
 font-family: 'Poiret One', cursive;
}


.banner-content .greet{
    font-family: 'Water Brush', cursive;
    font-size: 5rem;
    color: var(--on-background);
}

.banner-image{
    margin: auto auto;
    border-top: 1em solid var(--primary-color);
    border-radius: 50%;
}

.banner-image img{
    width: 500px;
}

.resume{
    padding: 0.5rem 2rem;
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: all 300ms linear;
}

.resume i{
    margin-left: 1rem;
}

.resume:hover{
    color: var(--secondary-color);
    background: var(--primary-color);
}


.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container .about-image img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 99;
    border: 2px solid var(--primary-color);
    padding: 20px;
}

.tech-stack {
    margin: 2rem;
}

.tech-stack img{
    width: 40px;
    height: 40px;
    margin: 0.5rem;
    filter: grayscale(100%);
    cursor: pointer;
    transition: all 300ms linear;
}

.tech-stack img:hover{
    filter: grayscale(0%);
    transform: scale(1.15);
}

.about-container .about-para{
    color: var(--on-background);
    max-width: 1150px;
    margin: 2rem;
    text-align: justify;
    text-justify: distribute;
    font-size: 1.2rem;
    line-height: 1.5em;
    letter-spacing: 0.18rem;
}

.portfolio{
    max-width: 1150px;
    margin: 6em auto;
}

.portfolio-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-card{
    width: 20em;
    height: 27.5em;
    margin: 1.5em;
    /* border: 1px solid var(--background); */
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transition: all 300ms ease-in;
}

.portfolio-card:hover{
    box-shadow: var(--box-shadow);
    transform: translateY(-10px);
}

.portfolio-card img{
    width: 20em;
    height: 12.5em;
    border-radius: 5px 5px 0 0;
}

.portfolio-card  p,
.portfolio-card  h3{
    padding: 1em;
}

.portfolio-card p{
    padding-top: 0;
    text-align: justify;
    text-justify: distribute-all-lines;
    height: 4.8em;
}

.portfolio-card .btn-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.portfolio-card a{
    text-align: center;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0.3em 1em;
    transition: all 300ms linear;
}

.portfolio-card a:hover{
    color: var(--on-primary);
    background-color: var(--primary-color);
}

.portfolio-card .tech-used{
    margin: 1em;
}

.portfolio-card .tech-used i{
    padding-right: 1em;
    font-weight: bold;
}

.contact{
    height: 20em;
    color: var(--on-primary);
    background-color: var(--primary-variant);
}

/* Media Queries for responsiveness */

@media (max-width: 992px){
    .banner-content .greet{
        font-size: 3rem;
    }
    .banner-image img{
        width: 350px;
    }
}


@media (max-width: 768px){
    .navbar{
        position: fixed;
        inset: 0 0 0 50%;
        background: hsl(0 0% 0% / .7);
        backdrop-filter: blur(2rem);
        flex-direction: column;
        justify-content: unset;
        transform: translateX(100%);
        transition: transform 550ms ease-out;
    }

    .navbar[data-visible="true"]{
        transform: translateX(0%);
    }

    .nav-links ul{
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
    }

    .nav-links ul li{
        margin: 1rem .1rem;
    }

    .nav-links ul li a{
        color: var(--secondary-color);
    }

    .social-links{
        flex-direction: column;

    }

    .social-links img{
        margin: 0.3em 1.8em;
        filter: grayscale(0);
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        background: url(../images/nav-icons/menu.svg);
        background-repeat: no-repeat;
        z-index: 9999;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        border: 0;
    }
    .mobile-nav-toggle[aria-expanded = "true"]{
        background: url(../images/nav-icons/close.svg);
    }
}


@media (max-width: 512px){
    .banner{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
   .banner-content .greet{
       font-size: 2rem;
   }

   .banner-image{
       margin: 0 auto;
   }

   .banner-image img{
       width: 300px;
   }
}